## Load Data sets:

In [1]:
import util as util

In [2]:
import matplotlib as plt
import pandas as pd
import numpy as np

In [3]:
multi = util.load_multi_data(5)

In [56]:
multi['sensor_id'].value_counts()

6223    697691
6222    526527
6632    258228
6636    257331
6634    256767
6633    255790
6635    247670
Name: sensor_id, dtype: int64

In [3]:
aras = util.load_aras("HouseA", 1)

       3  4  7  11  12  13  15  16  17  19  20  21   time
47     0  0  0   0   0   0   0   0   0   0  12  17     48
250    1  0  0   0   0   0   0   0   0   0  12  17    251
299    0  0  0   0   0   0   0   0   0   0  12  17    300
502    1  0  0   0   0   0   0   0   0   0  12  17    503
503    0  0  0   0   0   0   0   0   0   0  12  17    504
...   .. .. ..  ..  ..  ..  ..  ..  ..  ..  ..  ..    ...
86150  1  0  0   0   0   0   0   0   0   0  21  12  86151
86152  1  0  0   0   0   0   0   1   0   0  21  12  86153
86195  1  0  0   0   0   0   0   0   0   0  21  12  86196
86217  1  0  0   0   0   0   0   0   0   0  12  12  86218
86399  1  1  0   0   0   0   0   0   0   0  12  12  86400

[1217 rows x 13 columns]

In [35]:
[0, 86400]
36 + 22*60 + 11*60*60

40956