## Load Data sets:

In [1]:
import util as util

In [2]:
import matplotlib as plt
import pandas as pd
import numpy as np

In [3]:
multi = util.load_multi_data(5)

In [4]:
multi

        value_id  sensor_id                   timestamp  value   time
0         315318       6222  2020-02-26 11:22:36.417725  17.78  40956
1         315319       6223  2020-02-26 11:22:36.426686  26.51  40956
2         315320       6223  2020-02-26 19:36:36.586117  27.27  70596
3         315321       6222  2020-02-26 19:36:36.657636  51.52  70596
4         315322       6223  2020-02-26 19:36:37.704286  27.26  70597
...          ...        ...                         ...    ...    ...
499996   3349693       6636  2020-03-27 18:21:47.818963   0.00  66107
499997   3349694       6634  2020-03-27 18:21:48.167419   0.00  66108
499998   3349695       6635  2020-03-27 18:21:48.341508   0.00  66108
499999   3349696       6633  2020-03-27 18:21:48.898139   0.00  66108
500000   3349697       6632  2020-03-27 18:21:49.043434   0.00  66109

[2500004 rows x 5 columns]

In [5]:
aras = util.load_aras("HouseA", 2)

In [6]:
aras

,0,1,2,3,4,5,6,7,8,9,...,13,14,15,16,17,18,19,20,21,time
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,12,17,1
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,12,17,2
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,12,17,3
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,12,17,4
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,12,17,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
86395,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,17,2,86396
86396,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,17,2,86397
86397,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,17,2,86398
86398,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,17,2,86399
86399,0,0,0,0,0,0,1,0,0,0,...,0,0,0,0,0,0,0,17,2,86400

In [ ]:
[0, 86400]
36 + 22*60 + 11*60*60